.pale-blue {
    background-color: hsl(225, 100%, 94%);
}

.very-pale-blue {
    background-color: hsl(225, 100%, 98%);
}

.bright-blue {
    color: hsl(245, 75%, 52%);
}
.bright-blue-bg {
    background: hsl(245, 75%, 52%);
}

.dark-blue {
    color: #1f2f56;
}

.desaturated-blue {
    color: hsl(224, 23%, 55%);
}
.proceed:hover {
    background: hsl(224, 23%, 55%);
}

.cancel-order:hover {
    color: #1f2f56;
}

body {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
}

.description {
    font-size: 14px;
}
